<div class="flex items-center justify-center min-h-screen bg-cover bg-center" style="background-image: url('https://img.freepik.com/free-vector/girl-reads-book-old-library-night_107791-4743.jpg?w=1380&t=st=1703965942~exp=1703966542~hmac=8bb6cc60c69dbba59ac56147309c251adf6027199bd87c60216bed89b4a97854');">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-white mb-4">PHEONIX</h1>
        <h1 class="text-4xl font-bold text-white mb-4">Library Management System</h1>
        <p class="text-lg text-white mb-8">Explore, Manage, and Enjoy Reading!</p>
        <div class="space-x-4">
            <button routerLink="/login" class="w-28 h-10 bg-blue-500/50 rounded hover:bg-blue-400 text-white">Login</button>
            <button routerLink="/register" class="w-28 h-10 bg-blue-500/50 rounded hover:bg-blue-400 text-white">Sign Up</button>
        </div>
    </div>
</div>
